pydantic
pyyaml
pandas
torch
requests
fastapi
starlette
numpy
matplotlib
torchvision
tqdm
imageio
zarr
rasterio
tifffile
timm
uvicorn
python-multipart
typer[all]
docstring_parser
python-jose[cryptography]
passlib[bcrypt]
pytorch_toolbelt
torchmetrics
aim
positional_encodings
segmentation_models_pytorch
nibabel
pika
websockets
lightly